{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Deduplicate project {{original_project.id}} - {{original_project.name}} | {% trans 'FLOSS Talks admin' %}{% endblock %}

{% block content %}
<div id="content-main">
  <h1>Deduplicate project {{original_project.id}} - {{original_project.name}}</h1>
  <div>
    {{original_project.description|striptags|linebreaks}}
  </div>
  <p><a href="/admin/flosstalks_app/project/{{original_project.id}}/">Edit the project</a></p>
  
  <form method="post" action="">
    {% csrf_token %}
    <table>
        {{ formset }}
    </table>
    <input type="submit" value="Deduplicate" />
  </form>
</div>
{% endblock %}