{% extends "base.html" %}

{% block title %}Contact us - FLOSS Talks{% endblock %}

{% block container %}
      <div class="page-header">
        <h1>Contact us</h1>
      </div>
      <div>
        <p>
            Get in touch with us:
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01a7QcMXNBvOHC-IBBKWLW7w==&amp;c=CVBUnRMK-qsjkVkO-3OVASr6Yv9qiauH2R0Z_C_EoRo=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501a7QcMXNBvOHC-IBBKWLW7w\75\75\46c\75CVBUnRMK-qsjkVkO-3OVASr6Yv9qiauH2R0Z_C_EoRo\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;">click on this link to reveal the e-mail address</a>.
        </p>
        <p>If you'd like to report a bug, please file an issue on <a href='https://github.com/e2jk/flosstalks/issues'>GitHub</a>.</p>
      </div>{% endblock %}
