{% extends "base.html" %}
{% load i18n %}

{% block container %}
      <div class="hero-unit">
        <h1>
            FLOSS Talks
            <small>{%trans "Videos, talks and podcasts about your favorite free, libre and open source projects"%}</small>
        </h1>
        <p>
            {%trans "The place where you'll find audio and video resources about the FLOSS projects you are interested in."%}
            <br>
            {%trans "Select one of the projects below, or search for you favorite one in the search bar on top."%}
        </p>
        <p><a class="btn btn-primary btn-large" href="{% url about %}">{%trans "Learn more about FLOSS Talks"%} <i class="icon-chevron-right icon-white"></i></a></p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>{% endblock %}
