{% extends "base.html" %}
{% load i18n %}

{% block title %}{%trans "Projects"%} - FLOSS Talks{% endblock %}

{% block container %}
      <div class="page-header">
        <h1>{%trans "Projects"%}</h1>
      </div>
      <div>
        <p>{%trans "Choose one of the following projects:"%}</p>

        <div class="row">
            <div class="span6">
                <ul class="unstyled">
                    {% for p in projects_list %}
                    {%if forloop.counter0 = new_column_index%}
                </ul>
            </div>
            <div class="span6">
                <ul class="unstyled">
                    {%endif%}
                    <li>
                      <h2>{{p.name}}</h2>
                      <p>
                        {{p.description}}
                        <br/>
                        <a href="{%if p.nice_url%}/{{p.nice_url}}{%else%}{%url project p.pk%}{%endif%}">{%blocktrans with project_name=p.name%}Learn more about {{project_name}}{%endblocktrans%} <i class="icon-share-alt"></i></a>
                      </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        {%if is_paginated%}
        <div class="pagination pagination-centered">
            <ul>
                <li{% if not page_obj.has_previous%} class="disabled"{%endif%}><a href="{% if page_obj.has_previous%}?page={{page_obj.previous_page_number}}{%else%}#{%endif%}"><i class="icon-chevron-left"></i> {%trans "Prev"%}</a></li>
            {% for p in paginator.page_range %}
                {%if page_obj.number == p%}
                <li class="active"><a href="?page={{p}}">{%blocktrans with num=page_obj.number num_pages=paginator.num_pages%}Page {{num}} of {{num_pages}}{%endblocktrans%}</a></li>
                {%else%}
                <li><a href="?page={{p}}">{{p}}</a></li>
                {%endif%}
            {% endfor %}
                <li{% if not page_obj.has_next%} class="disabled"{%endif%}><a href="{% if page_obj.has_next%}?page={{page_obj.next_page_number}}{%else%}#{%endif%}">{%trans "Next"%} <i class="icon-chevron-right"></i></a></li>
            </ul>
        </div>
        {%endif%}
        
      </div>{% endblock %}
