{% extends "base.html" %}
{% load i18n %}

{% block title %}{%if search_term%}{%blocktrans%}Searching for {{search_term}}{%endblocktrans%}{%else%}{%trans "Search"%}{%endif%} - FLOSS Talks{% endblock %}

{% block container %}
  {%if search_term%}
      <div class="page-header">
        <h1>{%blocktrans%}Searching for {{search_term}}{%endblocktrans%}</h1>
      </div>
      <div class="row">
        <div class="span6">
            <h2>{%trans "Projects"%}</h2>
            {%if projects%}<ul>{% for p in projects %}
                <li><a href="{%if p.nice_url%}/{{p.nice_url}}{%else%}{%url project p.pk%}{%endif%}">{{p}}</a></li>
            {% endfor %}</ul>{%else%}
            <p>{%blocktrans%}No projects have been found while searching for {{search_term}}.{%endblocktrans%}</p>
            {%endif%}
        </div>
        <div class="span6">
            <h2>{%trans "Series"%}</h2>
            {%if series%}<ul>{% for s in series %}
                <li><a href="{%if s.nice_url%}/{{s.nice_url}}{%else%}{%url series s.pk%}{%endif%}">{{s}}</a></li>
            {% endfor %}</ul>{%else%}
            <p>{%blocktrans%}No series have been found while searching for {{search_term}}.{%endblocktrans%}</p>
            {%endif%}
        </div>
      </div>
  {%else%}
      <div class="page-header">
        <h1>{%trans "Search"%}</h1>
      </div>
      <div class="well">
        <p>{%trans "Please enter the name of the project or series you are looking for:"%}</p>
        <form class="form-search">
            <input name="q" type="text" class="input-medium search-query span3 typeahead" placeholder="{%trans "Search"%}" autocomplete="off">
            <button type="submit" class="btn">{%trans "Search"%}</button>
        </form>
      </div>
  {%endif%}{% endblock %}
