{% extends "base.html" %}
{% load i18n %}

{% block title %}{%trans "Series"%} - FLOSS Talks{% endblock %}

{% block container %}
      <div class="page-header">
        <h1>{%trans "Series"%}</h1>
      </div>
      <div>
        <p class="hidden-phone">{%trans "Choose one of the following series:"%}</p>

        <div class="row">
            <div class="span6">
                <ul class="unstyled">
                    {% for s in series_list %}
                    {%if forloop.counter0 = new_column_index%}
                </ul>
            </div>
            <div class="span6">
                <ul class="unstyled">
                    {%endif%}
                    <li>
                      <h2><a href="{%if s.nice_url%}/{{s.nice_url}}{%else%}{%url series s.pk%}{%endif%}">{{s.name}}</a></h2>
                      <div class="hidden-phone">
                        {{s.description|striptags|truncatewords_html:40|linebreaks}} {%comment%}Need to use truncatewords_html instead of just truncatewords to preserve the newlines{%endcomment%}
                      </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>{% endblock %}
