{% extends "base.html" %}
{% load i18n %}

{% block title %}{{series.name}} - FLOSS Talks{% endblock %}

{% block container %}
      <div class="page-header">
        <h1>{{series.name}}</h1>
      </div>
      <div>
        <p>{{series.description}}</p>
        <p><a class="btn btn-primary btn-large" href="{{series.url}}">{%trans "Learn more"%} <i class="icon-info-sign icon-white"></i></a></p>
        <hr>
        {%if not series.resource_set.all%}
        <p>{%trans "There are no known resources yet."%}</p>
        {% else %}
        <p>{%blocktrans count num_resources=series.resource_set.all.count%}There is one resource:{%plural%}There are {{num_resources}} resources:{%endblocktrans%}</p>
        <ul>
            {% for r in series.resource_set.all %}
            {%if r.status != "IG"%}<li>{{r.name}}</li>{%endif%}
            {% endfor %}
        </ul>
        {% endif %}
      </div>{% endblock %}
