{% extends "base.html" %}
{% load i18n %}

{% block title %}{%trans "Series"%} - FLOSS Talks{% endblock %}

{% block container %}
      <div class="page-header">
        <h1>{%trans "Series"%}</h1>
      </div>
      <div>
        <p>{%trans "Choose one of the following series:"%}</p>
        <ul>
            {% for s in series_list %}
            <li><a href="{%if s.nice_url%}/{{s.nice_url}}{%else%}{%url series s.pk%}{%endif%}">{{s.name}}</a></li>
            {% endfor %}
        </ul>
      </div>{% endblock %}
